<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Sinup
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sign Up</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button expand="block">Sign Up</ion-button>
    </ion-card-content>
    <ion-item>
      <ion-label>
        Already have an account? <a routerLink="/signin">Sign In</a>

      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
