
<ion-content>
  <ion-card-header>
    <ion-card-title>Community  </ion-card-title>
  </ion-card-header>
  <ion-searchbar>
  </ion-searchbar>

  <ion-card-header>
    <ion-card-title>Recommend</ion-card-title>
  </ion-card-header>

  <ion-grid class="Recommend">
    <ion-row>
      <ion-col size="4">
        <ion-card style="background: linear-gradient(45deg, #ADD8E6, #0000FF, #00008B);
">
          <ion-card-header>
            <ion-button fill="clear">
              <ion-icon name="Wallet" size="large"></ion-icon>
              
          </ion-button>
          </ion-card-header>
        
          <ion-card-content>
            <p>
              Finanical 
            </p>
            <ion-text>
              Infoemation
            </ion-text>
            <p>
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" >
        <ion-card style="background: linear-gradient(45deg, #FF69B4, #FF00FF, #C71585);">
          <ion-card-header>
            <ion-button fill="clear">
              <ion-icon name="server" size="large"></ion-icon>
              
          </ion-button>
          </ion-card-header>
          
          <ion-card-content>
            <p>
              Finanical 
            </p>
            <ion-text>
              Master
            </ion-text>
            <p>
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" >
        <ion-card style="background: linear-gradient(45deg, #FF7F7F, #FF0000, #DC143C);
">
          <ion-card-header>
            <ion-button fill="clear">
              <!-- <ion-icon name="Wallet" size="large"></ion-icon> -->
              <ion-icon name="videocam" size="large"></ion-icon>
              
          </ion-button>
          </ion-card-header>
          
          <ion-card-content>
            <p>
              Finanical 
            </p>
            <ion-text>
              Video
            </ion-text>
            <p>
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
             </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="main">
    <div class="forum">
      <ion-card-header>
        <ion-card-title>Forum</ion-card-title>
      </ion-card-header>
    </div>
    <div class="more">
      <ion-button  color="light">
        More >
      </ion-button>
    </div>
  
  </div> -->

  <ion-card-header>
    <ion-card-title>Forum</ion-card-title>
  </ion-card-header>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
        
          <ion-card-content>
            <div class="card_info">
              <div class="left_info"><ion-img style="height: 80%; width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgPEkoOe_w2n0dijS7g51VaUNVnevrTGo5sQ&s"></ion-img></div>
              <div class="right_info">
                <ion-card-header >
                  
                    <ion-card-title>Reasonable</ion-card-title>
                  
                  </ion-card-header>
                <p style="size: 1rem; margin-left: 5%; size: 0.5rem;">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, maxime.
                </p>
                
                <ion-button fill="clear" color="dark">
                  <ion-icon name="heart"></ion-icon>
                  120
                </ion-button>
                <ion-button fill="clear" slot="start" color="dark">
                  <ion-icon name="chatbubble" ></ion-icon>
                  320
                </ion-button>
              </div>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
    <ion-card-title>Wealth group</ion-card-title>
  </ion-card-header>
  <ion-grid class="Wealth">
    <ion-row>
      <ion-col size="6">
        <ion-card style="height:150px;background: linear-gradient(45deg, #F0F8FF, #6d73c2, #4e3bf8);
">
        
          <ion-card-content style="text-align: center; margin-top: 50px; ">
            <ion-text>
              Catch the moments
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card style="height:150px;background: linear-gradient(45deg, #cedce7, #0cda16, #2bd409);
">
        
          <ion-card-content style="text-align: center; margin-top: 50px; ">
            <ion-text>
              Catch the moments
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
