<ion-app>
  





<!-- 
  <!-- <footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
   
      <ion-list>
        <ion-item routerLink="/home" routerLinkActive="active">
          Home
        </ion-item>
        <ion-item routerLink="/about" routerLinkActive="active">
          About
        </ion-item>
        <ion-item routerLink="/contact" routerLinkActive="active">
          Contact
        </ion-item>
      </ion-list>
    
  </footer> --> 
  
  <ion-router-outlet></ion-router-outlet>

</ion-app>
