.button-container {
    display: flex;
    gap: 15%;
    margin-top: 1%;

    ion-button {
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 5px;

      &.cancel {
        
        color: white;
      }

      &.reschedule {
        color: white;
      }
    }
}