<ion-header>
  <ion-toolbar color="primary">
    <ion-title>User Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    <input type="file" (change)="onFileSelected($event)" hidden #fileInput>
    <img [src]="user.profileImage || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT58-VVT8Wch6ligqL9BVGs4hHtZ2ChZeURvA&s'" alt="Profile Image" class="profile-image" (click)="fileInput.click()">
    <p>Tap to change photo</p>
  </div>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="user.username" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="saveUserInfo()">Save</ion-button>
</ion-content>
